@import "/widget/item/list-item";
.index-wrap{
  background-color: #FFFFFF;
  padding-bottom:2.9rem;
  article{
    padding: pxToRem(20);
    .cover{
      position: relative;
      img{
        width: 100%;
        height: pxToRem(200);
      }
      p{
        position: absolute;
        bottom: 0;
        width: 100%;
        text-align: center;
        color: #FFFFFF;
        font-size: pxToRem(30);
        background: rgba(67,67,67,.5);
      }
    }
    .info{
      color: #a9a9b2;
      font-size: pxToRem(20);
      line-height: pxToRem(60);
      border-bottom: 2px dashed #a9a9b2;
    }
    .abstract{
      background-color: #efefef;
      padding: pxToRem(30) pxToRem(45);
      color: #666666;
      font-size: pxToRem(24);
      margin: pxToRem(30) 0;
    }
    .articleContent{
      color: #666666;
      font-size: pxToRem(26);
      word-break: break-all;
      border-bottom: 1px solid #a9a9b2;
      padding-bottom: pxToRem(20);
    }
    .item-article{
      margin-top: pxToRem(35);
      .header{
        background-color: #efefef;
        border-left: 1px solid #d61518;
        color: #666666;
        font-size: pxToRem(30);
        padding-left: pxToRem(20);
        line-height: pxToRem(74);
      }
      .articleHeader{
        padding: pxToRem(25) 0;
        .icon{
          max-width: 15%;
          img{
            vertical-align: top;
            width: pxToRem(52);
            height: pxToRem(52);
          }
        }

        .title{
          width: 85%;
          margin-left: pxToRem(25);
//          width: pxToRem(512);
          color: #494747;
          font-size: pxToRem(30);
          font-weight: 600;
        }
      }
      .articleContent{
        font-size: pxToRem(26);
      }
      .imgList{
        display: block;
        width: pxToRem(600);
        overflow-x: scroll;
        overflow-y: hidden;
        padding: pxToRem(30) 0;
        height: pxToRem(270);
        img{
          width: pxToRem(190);
          height: pxToRem(200);
          margin-right: pxToRem(20);
        }
      }
    }
  }
}