@import '../sass/sassCore/base';
$bordercolor : #e5e5e5;
.fullscreen{
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
  .scrollwrapper{
    width: 100%;
  }
}
.index-wrap{
  width:100%;
  margin: 0px;
  padding: 0px;
  height: 100%;
  position: relative;
}

.index-wrap{
  padding-bottom:2.9rem;
}

.index-nav{
  background-color: #FFFFFF;
  ul{
    width: 100%;
    border-bottom: 1px solid $bordercolor;
    padding: 0 pxToRem(20);
    li{
      display: inline-block;
      a{
        display: block;
        padding: pxToRem(20) 0;
        font-size: pxToRem(28);
        color: #a9a9b2;
        width: pxToRem(92);
        text-align: center;
        &.active{
          border-bottom: 2px solid red;
          color: red;
        }
      }
    }
  }
}

.adviertisement{
  background-color: #FFFFFF;
  padding: pxToRem(20);
  a{
    display: inline-block;
    width: 100%;
  }
  img{
    width: 100%;
  }
}
